.scroll-pane {
    width: 100%;
	height: 200px;
	overflow: auto;
}


.tripList {
    z-index: 100000;
    list-style-type: none;
    clear: both;
}

ul.tripList li {
    display: inline-block;
    background-color: #307195;
    padding: 5px 10px;
    margin: 0 0 20px 0;
    border: solid 2px #3f3f3f;
    color: white;
}

ul.tripList li a {
    text-decoration:none;
    color:white;
    font-weight: bold;
    font-size: 1.2em;
}

ul.tripList li:hover {
    background-color: #315a7e;
}


iframe {
    margin: 20px 20px 0 20px;
    width: 100%;
    height: 50%;
}


.newTripBtn {
    color: red;
    font-style: oblique;
    text-decoration: underline;
}

@media screen and (max-width: 775px) {
    .tripList {
        float:left;
        height: 50%;
        margin: 0;
        overflow: hidden;
        overflow-y: scroll;
        padding:0;
    }
    ul.tripList li {
        float: none;
        width: 75%;
        margin: 0 10%;
        padding: 10px 0;
        border-top: none;
        text-align:center;
    }

    ul.tripList li a {
        font-size: 4vw;
        text-align: center;
    }

.outer-nav {
    margin: 0;
    padding-top: 35px;
}


}