{% extends 'ferienhausWeb/base.html' %}

{% block content %}
    <div class="sub-nav-active">
     <a href="{% url 'ferienhaus' %}">Details</a>
    </div>
    <div class="sub-nav">
     <a href="{% url 'ferienhaus_galerie' %}">Galerie</a>
    </div>
    <div class="sub-nav">
     <a href="{% url 'preise' %}">Preise</a>
    </div>

        <div>
            <h1> Das Ferienhaus</h1>
        <p>

Ferienhaus in Altfunnixsiel (Nähe Carolinensiel ) für bis zu 6 Personen auf ca. 65m²;.Entfernung bis zum Strand ca. 6km.<br>
Eine gut ausgestattete Wohnküche, 3 Schlafräume, Bad mit WC und Dusche<br>
2x SAT-TV, Video, CD-Player,DVD Player,<br>
Waschmaschine und Mikrowelle<br>
Kinderbett und Kinderhochstuhl<br>
Diverse Fahrräder(auch mit Kindersitz) stehen zur Verfügung<br>
Terrasse mit Gartenmöbeln ,Grill und kleiner Rasenfläche<br>
<br>
Freizeitpark “Lütge Land” in unmittelbarer Nähe(keine Lärmbelästigung).<br>
Neues Freizeitbad ("Cliner Quelle") in Carolinensiel.<br>
Gute Einkaufsmöglichkeiten in Carolinensiel, Wittmund, Jever, Wilhelmshaven, Esens und Aurich.<br>
</p>
        </div>
{% endblock %}