{% extends 'ferienhausWeb/base.html' %}

{% block content %}
<div>
    <h1> Das Gästebuch</h1>
    <p>
        Schreiben Sie uns hier über Ihre Erfahrungen, ihr Feedback oder hinterlassen Sie Grüße!
    </p>
    <div id="guestbook-image"></div>

</div>

{% for guestbook_entry in guestbook_entries %}
<div class="guestbook_entry">
    <div class="guestbook_entry_date">
        {{ guestbook_entry.created_date }}
    </div>
    <div class="guestbook_entry_inner">
        <h3>{{ guestbook_entry.title }}</h3>
        <p class="guestbook-author">von {{ guestbook_entry.author }}</p>
        <p>{{ guestbook_entry.text|safe }}</p>
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-default admin-button"
       style="float:right"
       onclick="return confirm('Sicher, dass dieser Eintrag gelöscht werden soll?')"
       href="{% url 'guestbook_remove' pk=guestbook_entry.pk %}">Entfernen</a>
    {% endif %}
</div>
{% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if guestbook_entries.has_previous %}
            <a href="?page={{ guestbook_entries.previous_page_number }}">vorherige Seite</a>
        {% endif %}

        <span class="current">
            Seite {{ guestbook_entries.number }} von {{ guestbook_entries.paginator.num_pages }}.
        </span>

        {% if guestbook_entries.has_next %}
            <a href="?page={{ guestbook_entries.next_page_number }}">nächste Seite</a>
        {% endif %}
    </span>
    </div>


<div id="guestbook-form">
    <h3>Gästebucheintrag erstellen</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.media}}
        {{ form.as_p }}
        <button type="submit" onclick="return confirm('Wollen Sie diesen Gästebucheintrag wirklich hinzufügen?')" class="save btn btn-default">Eintrag hinzufügen</button>
    </form>
</div>
{% endblock %}