{% extends 'ferienhausWeb/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="home-greeting">
    {% for this_text in texts %}
        {{ this_text.text|safe }}
        {% if user.is_authenticated %}
                <a class="btn btn-default admin-button" href="{% url 'text_edit' pk=this_text.pk %}">Bearbeiten</a>
        {% endif %}
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="btn btn-default admin-button">Neu erstellen</a>
    {% endif %}
    <h1 id="news">Neuigkeiten</h1>

    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <div class="post-inner">
                <h3>{{ post.title }}</h3>
                <p>{{ post.text|safe }}</p>
            </div>
            {% if user.is_authenticated %}
                <a class="btn btn-default admin-button" href="{% url 'post_edit' pk=post.pk %}">Bearbeiten</a>
                <a class="btn btn-default admin-button"
                   onclick="return confirm('Sicher, dass diese Neuigkeit gelöscht werden soll?')"
                   href="{% url 'post_remove' pk=post.pk %}">Entfernen</a>
            {% endif %}
        </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">vorherige Seite</a>
        {% endif %}

        <span class="current">
            Seite {{ posts.number }} von {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">nächste Seite</a>
        {% endif %}
    </span>
    </div>
{% endblock %}