{% extends 'ferienhausWeb/umgebung.html' %}
{% load staticfiles %}

{% block markerlist %}
<p>
Marker Icons hier erstellen und runterladen: &nbsp;  <a href="https://mapicons.mapsmarker.com/">mapicons.mapsmarker.com</a> !
</p>
    {% for markericon in markericons %}
        <div class="markericon_entry">
            <table class="list-table">
                <tr>
                    <td>
                        <img class="markericon_img" src="{{ markericon.image.url }}">
                    </td>
                    <td>
                        {{ markericon.name }}
                    </td>
                    <td>
                        <a class="btn btn-default"
                           href="{% url 'markericon_edit' pk=markericon.pk %}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-default"
                           onclick="return confirm('Sicher, dass diese Neuigkeit gelöscht werden soll?')"
                           href="{% url 'markericon_remove' pk=markericon.pk %}">X</a>
                    </td>

                </tr>

            </table>
        </div>
    {% endfor %}

    <div id="markericon-form">
        <h3>Marker Icon erstellen</h3>
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" onclick="return confirm('Wollen Sie dieses Marker Icon wirklich hinzufügen?')"
                    class="save btn btn-default">Marker Icon hinzufügen
            </button>
        </form>
    </div>

{% endblock %}