{% extends 'ferienhausWeb/umgebung.html' %}

{% block markerlist %}

    {% for marker in markers %}
        <div class="marker_entry">
            <table class="list-table">
                <tr>
                    <td>
                        <img class="markericon_img" src="{{ marker.icon.image.url }}">
                    </td>
                    <td>
                        {{ marker.title }}
                    </td>
                    <td style="text-align:left;padding-left:5px;">
                        {{ marker.info_text|safe }}
                    </td>
                    <td>
                        {{ marker.zIndex }}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'marker_edit' pk=marker.pk %}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-default"
                   onclick="return confirm('Sicher, dass dieser Marker gelöscht werden soll?')"
                   href="{% url 'marker_remove' pk=marker.pk %}">X</a>
                    </td>
                </tr>

            </table>
        </div>
    {% endfor %}

    <div id="marker-form">
        <h3>Marker erstellen</h3>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" onclick="return confirm('Wollen Sie diesen Marker wirklich hinzufügen?')"
                    class="save btn btn-default">Marker hinzufügen
            </button>
        </form>
    </div>

{% endblock %}