{% extends 'ferienhausWeb/base.html' %}
{% load staticfiles %}

{% block content %}
    <ul class="tripList" id="inner-content-div">
        {% for trip in trips %}
            <li>
                <a href="{% url 'trip_detail' pk=trip.pk %}">{{ trip.title }}</a>
            </li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li class="newTripBtn">
                <a href="{% url 'trip_new' %}">Neu...</a></li>
        {% endif %}
    </ul>

    {% block trip_detail %}
    {% endblock %}

    <div class="tripsBase">
        <h1> Umgebungskarte</h1>
        <div id="map"></div>
        <script>
            function initMap() {
                var altfunnix = {lat: 53.653737, lng: 7.784394};
                var map;
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: altfunnix
                });
                var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
                var icons = {
                    beach: {
                        icon: "{% static "img/gm-icons/beach-export.png" %}"
                    },
                    home: {
                        icon: "{% static "img/gm-icons/home-2.png" %}"
                    },
                    supermarket: {
                        icon: "{% static "img/gm-icons/supermarket.png" %}"
                    },
                    mall: {
                        icon: "{% static "img/gm-icons/mall.png" %}"
                    },
                    harbor: {
                        icon: "{% static "img/gm-icons/harbor.png" %}"
                    },
                    cruise: {
                        icon: "{% static "img/gm-icons/cruiseship.png" %}"
                    },
                    swimming: {
                        icon: "{% static "img/gm-icons/swimming2.png" %}"
                    }
                };

                var locations = [
                    ['Das Ferienhaus in Altfunnixsiel', 'home', 'Ferienhaus', 53.653737, 7.784394, 1],
                    ['Strand Harlesiel', 'beach', 'Strand', 53.710158, 7.806407, 2],
                    ['Strand Neuharlingersiel', 'beach', 'Strand', 53.702012, 7.698976, 3],
                    ['Strand Bensersiel', 'beach', 'Strand', 53.677858, 7.568072, 4],
                    ['Strand Dornumersiel', 'beach', 'Strand', 53.681947, 7.484571, 5],
                    ['Hundestrand Schillig', 'beach', 'Hundestrand', 53.681947, 7.484571, 6],
                    ['Einkaufsmöglichkeit Wittmund', 'supermarket', 'Einkaufen', 53.584919, 7.770721, 7],
                    ['Netto Caroliensiel', 'supermarket', 'Einkaufen', 53.688285, 7.801632, 8],
                    ['Innenstadt und Einkaufscenter <br> Wilhelmshaven', 'mall', 'Shoppen', 53.521011, 8.110690, 9],
                    ['Innenstadt Jever', 'mall', 'Shoppen', 53.574272,  7.902057, 10],
                    ['Innenstadt Esens', 'mall', 'Shoppen', 53.646042, 7.613320, 11],
                    ['Innenstadt Wittmund', 'mall', 'Shoppen', 53.646042, 7.613320, 12],
                    ['Alter Hafen Caroliensiel<br>mit dem Hafenmuseum', 'harbor', 'Alter Hafen', 53.691149, 7.801861, 13],
                    ['Hafen Wilhelmshaven', 'harbor', 'Hafen', 53.520569, 8.127814, 14],
                    ['Schifffahrt <br> Harlesiel - Wangenrooge', 'cruise', 'Fähre', 53.708437, 7.809042, 15],
                    ['Schifffahrt <br> Wangenrooge - Harlesiel', 'cruise', 'Fähre', 53.775279,  7.867229, 16],
                    ['Schifffahrt <br> Neuharlingersiel - Spiekeroog', 'cruise', 'Fähre', 53.700981, 7.705387, 17],
                    ['Schifffahrt <br> Spiekeroog - Neuharlingersiel', 'cruise', 'Fähre', 53.764331, 7.695471, 18],
                    ['Schifffahrt <br> Bensersiel - Langeoog', 'cruise', 'Fähre', 53.677887, 7.573102, 19],
                    ['Schifffahrt <br> Langeoog - Bensersiel', 'cruise', 'Fähre', 53.725490, 7.496213, 20],
                    ['Cliner Quelle Solenhallenbad', 'swimming', 'Hallenbad', 53.696023, 7.806175, 21],
                    ['Nordseetherme Bensersiel', 'swimming', 'Hallenbad', 53.675780, 7.579493, 22],
                    ['Meerwasser Freibad Harlesiel', 'swimming', 'Freibad', 53.709074, 7.808564, 22]

                ];

                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][3], locations[i][4]),
                        icon: icons[locations[i][1]].icon,
                        title: locations[i][2],
                        map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl3Xu5t0goQRHK2FCBmZri6iBCYtXnidM&callback=initMap"
                async defer>
        </script>

    </div>


{% endblock %}