{% extends 'ferienhausWeb/base.html' %}

{% block content %}
<ul class="tripList" id="inner-content-div">
    {% for trip in trips %}
    <li>
        <a href="{% url 'trip_detail' pk=trip.pk %}">{{ trip.title }}</a>
    </li>
    {% endfor %}
    {% if user.is_authenticated %}
    <li class="newTripBtn">
        <a href="{% url 'trip_new' %}">Neu...</a></li>
    {% endif %}
</ul>

{% block trip_detail %}
{% endblock %}

<div class="tripsBase">
    <h1> Ausflugsziele</h1>
    <iframe
            src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=surat&amp;ie=UTF8&amp;hq=&amp;hnear=Surat,+Gujarat&amp;
                ll=21.195,72.819444&amp;spn=0.36299,0.676346&amp;t=m&amp;z=11&amp;output=embed"></iframe>

</div>


{% endblock %}