h1 {

    font-family: 'Arial Black', cursive;
    color: black;
}

h2, h3, h4 {
    font-family: 'Arial Black', cursive;
    color: #307195;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin: 20px 0 70px 10px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}


.outer-background {
    background-color: green;
    background-image:url(../img/background_beach.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whole-body {
    background-color: rgba(255, 255, 255, 0.85);
    min-height:100%;
    padding:10px;
}

.col-md-8 {
    margin: 20px 0 0 15px;
}

.home-greeting {
    padding-bottom: 15px;
    margin: 15px 0 35px 0;
    border-bottom: 2px solid black;
}
